pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18pt;
    line-height: 110%;
}

.kwd {
    color: #069;
    font-weight: bold;
}

.pln {
    color: #008;
}

.pun {
    color: #000;
}

.com {
    color: #35586c;
    font-style: italic;
}

.str {
    color: #c30;
}

.typ {
    color: #366;
}


a, a:active, a:visited {
    color: #888;
}

a.lnk {
    text-decoration: none;
    font-size: smaller;
}

a.lnk:hover {
    text-decoration: underline;
    font-size: smaller;
}


#raw {
    margin-top: 5px;
    margin-bottom: 5px;
}